// Colors

$primary: #4a4e69;
$secondary: #9a8c98;
$bg: lavender;
$error: #f08080;
$white: white;
$black: black;

// Defaults

$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$box-shadow-2: rgba(0, 0, 0, 0.19) 0px 10px 20px,
  rgba(0, 0, 0, 0.23) 0px 6px 6px;
$default-radius: 5px;
